.alerts-container {
  padding: 5px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: 1rem auto;
  max-width: 1000px;

  
}

h2 {
  color: #007bff;
  margin-bottom: 1rem;
}

.alerts-controls {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.search-box {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.alerts-controls select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.alerts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.alert-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.alert-item:last-child {
  border-bottom: none;
}

.alert-type {
  font-weight: bold;
  color: #333;
}

.alert-message {
  margin: 0.5rem 0;
  color: #555;
}

.alert-timestamp {
  font-size: 0.9rem;
  color: #777;
}

.emergency {
  border-left: 5px solid #dc3545; /* Red */
}

.notice {
  border-left: 5px solid #17a2b8; /* Cyan */
}

.information {
  border-left: 5px solid #007bff; /* Blue */
}

.update {
  border-left: 5px solid #28a745; /* Green */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 1em;
  color: #fff;
  transition: background-color 0.3s, transform 0.3s;
}

.pagination .prev-button {
  background-color: #dc3545; 
}

.pagination .prev-button:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

.pagination .next-button {
  background-color: #007bff; 
}

.pagination .next-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.alerts-controls select {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.alerts-controls select option {
  background-color: #fff;
  color: #000;
}

h1 {
  color: #0a3d62;
  margin-bottom: 20px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}